*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}


main{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(253, 252, 252);
    border-radius: 1rem;
}

.main::before{
    content: '';
    background-image: url();
    background-repeat: no-repeat;
    background-size: contain;
    width: 140vw;
    height: 100vh;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.main::after{
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 140vh;
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: rotate(180deg);
}
body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
a{
    color: aliceblue;
    text-decoration: none;
}

a:hover{
    color: aliceblue;
    text-decoration: underline;

}

@media only screen and (min-width:768px)
{
      .main{
        max-width: 1024px;
        margin: 1rem auto;
      }

    .main::before,
    .main::after
    {
        width: 70vw;
    }

}

.shop
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.shop h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}
